#operation {
  height: 420px;

  .operation {
    &--hero {
      padding: 30px 0;

      h1 {
        font-weight: 600;
        font-size: 32px;
        color: #FFFFFF;
        padding-bottom: 10px;
      }

      p {
        color: #FFFFFF;
        font-size: 16px;
      }
    }

    &--all {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &__left {
        display: flex;

        &--data {
          margin-right: 40px;

          h6 {
            color: white;
            padding: 15px 0;
          }
        }

        &--text {
          h6 {
            padding: 15px 0;
            color: white;
          }
        }
      }

      &__right {
        display: flex;

        &--price {
          margin-right: 40px;

          h6 {
            color: white;
            padding: 15px 0;
          }
        }

        &--status {
          h6 {
            color: white;
            padding: 15px 0;
          }
        }
      }
    }
  }
}