#heroTeam {
  padding: 245px 0 120px 0;

  .hero {
    position: relative;

    &--youTube {
      height: 730px;
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__play {
        width: 144px;
        height: 80px;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        &--icon{
          color: white;
          font-size: 60px;
        }
      }
    }
    &--bgBook {
      position: absolute;
      left: 1100px;
      top: -120px;
      filter: blur(2px);
      transform: rotate(28deg);
      width: 47px;
    }

    &--pTitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

    &--titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 73%;

      &__book1 {
        position: absolute;
        filter: blur(2px);
        transform: rotate(-40deg);
        left: 230px;
        width: 80px;
        bottom: 140px;

      }

      &__greatTeam {
        h1 {
          font-weight: 600;
          font-size: 40px;
          line-height: 49px;
          color: #FFFFFF;
          margin: 20px 0;
        }

        p {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          width: 600px;
        }
      }

      &__insayt {
        h3 {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          border-bottom: 1px solid white;
          color: #FFFFFF;
        }

        p {
          margin: 10px 0;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }
      }
    }

    &--btn {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #595FEB;
      background: #FFFFFF;
      border-radius: 5px;
      padding: 10px 24px;
      margin: 30px 0;
    }
  }
}
@media (max-width: 1440px) {
  #heroTeam{
    .hero{

    }
  }
}
@media (max-width: 1200px) {
  #heroTeam{
    .hero{
      &--bgBook {
        position: absolute;
        left: 950px;
        top: -120px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }
      &--titles{
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 83%;
      }
    }
  }
}
@media (max-width: 1024px) {
  #heroTeam {
    .hero {
      &--youTube {
        height: 720px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__play {
          width: 144px;
          height: 80px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          &--icon{
            color: white;
            font-size: 60px;
          }
        }
      }
      &--bgBook {
        position: absolute;
        left: 860px;
        top: -120px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--pTitle {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 88%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: 230px;
          width: 80px;
          bottom: 140px;

        }

        &__greatTeam {
          h1 {
            font-weight: 600;
            font-size: 36px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            width: 600px;
          }
        }


      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 992px) {
  #heroTeam {
    .hero {
      &--youTube {
        height: 720px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__play {
          width: 144px;
          height: 80px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          &--icon{
            color: white;
            font-size: 60px;
          }
        }
      }
      &--bgBook {
        position: absolute;
        left: 780px;
        top: -120px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--pTitle {
        font-weight: 400;
        font-size: 13px;
        line-height: 10px;
        color: #FFFFFF;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: 230px;
          width: 80px;
          bottom: 140px;

        }

        &__greatTeam {
          h1 {
            font-weight: 600;
            font-size: 30px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 17px;
            line-height: 24px;
            color: #FFFFFF;
            width: 500px;
          }
        }
        &__insayt {
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            border-bottom: 1px solid white;
            color: #FFFFFF;
          }

          p {
            margin: 10px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 800px) {
  #heroTeam {
    padding: 240px 0 120px 0;

    .hero {
      &--youTube {
        height: 720px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__play {
          width: 144px;
          height: 80px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          &--icon{
            color: white;
            font-size: 60px;
          }
        }
      }
      &--bgBook {
        position: absolute;
        left: 680px;
        top: -120px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--pTitle {
        font-weight: 400;
        font-size: 15px;
        line-height: 10px;
        color: #FFFFFF;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: 230px;
          width: 80px;
          bottom: 140px;

        }

        &__greatTeam {
          h1 {
            font-weight: 600;
            font-size: 32px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            width: 450px;
          }
        }
        &__insayt {
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            border-bottom: 1px solid white;
            color: #FFFFFF;
          }

          p {
            margin: 10px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 470px) {
  #heroTeam {
    padding: 150px 0 120px 0;
    .hero {
      &--youTube {
        height: 280px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__play {
          width: 144px;
          height: 80px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          &--icon{
            color: white;
            font-size: 60px;
          }
        }
      }
      &--bgBook {
        position: absolute;
        left: 410px;
        top: -10px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 83%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: 10px;
          width: 80px;
          bottom: 240px;

        }

        &__greatTeam {
          &--pTitle {
            width: 100px;
            font-weight: 400;
            font-size: 30px;
            line-height: 10px;
            color: #FFFFFF;
          }
          h1 {
            font-weight: 600;
            font-size: 39px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            width: 400px;
          }
        }
        &__insayt {
          margin-top: 50px;
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            border-bottom: 1px solid white;
            color: #FFFFFF;
          }

          p {
            margin: 10px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 430px) {
  #heroTeam {
    padding: 150px 0 120px 0;
    .hero {
      &--bgBook {
        position: absolute;
        left: 360px;
        top: -10px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 83%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: 10px;
          width: 80px;
          bottom: 240px;

        }

        &__greatTeam {
          &--pTitle {
            width: 100px;
            font-weight: 400;
            font-size: 30px;
            line-height: 10px;
            color: #FFFFFF;
          }
          h1 {
            font-weight: 600;
            font-size: 39px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            width: 400px;
          }
        }
        &__insayt {
          margin-top: 50px;
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            border-bottom: 1px solid white;
            color: #FFFFFF;
          }

          p {
            margin: 10px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 412px) {
  #heroTeam {
    padding: 150px 0 120px 0;
    .hero {
      &--youTube {
        height: 280px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__play {
          width: 144px;
          height: 80px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          &--icon{
            color: white;
            font-size: 60px;
          }
        }
      }
      &--bgBook {
        position: absolute;
        left: 350px;
        top: -40px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 83%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: 10px;
          width: 80px;
          bottom: 240px;

        }

        &__greatTeam {
          &--pTitle {
            width: 100px;
            font-weight: 400;
            font-size: 30px;
            line-height: 10px;
            color: #FFFFFF;
          }
          h1 {
            font-weight: 600;
            font-size: 39px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            width: 400px;
          }
        }
        &__insayt {
          margin-top: 50px;
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            border-bottom: 1px solid white;
            color: #FFFFFF;
          }

          p {
            margin: 10px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 400px) {
  #heroTeam {
    padding: 150px 0 120px 0;
    .hero {
      &--youTube {
        height: 280px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__play {
          width: 144px;
          height: 80px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          &--icon{
            color: white;
            font-size: 60px;
          }
        }
      }
      &--bgBook {
        position: absolute;
        left: 350px;
        top: -40px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 83%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: -20px;
          width: 80px;
          bottom: 300px;

        }

        &__greatTeam {
          &--pTitle {
            width: 100px;
            font-weight: 400;
            font-size: 30px;
            line-height: 10px;
            color: #FFFFFF;
          }
          h1 {
            font-weight: 600;
            font-size: 39px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            width: 400px;
          }
        }
        &__insayt {
          margin-top: 50px;
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            border-bottom: 1px solid white;
            color: #FFFFFF;
          }

          p {
            margin: 10px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 390px) {
  #heroTeam {
    padding: 150px 0 120px 0;
    .hero {
      &--youTube {
        height: 280px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__play {
          width: 144px;
          height: 80px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          align-items: center;
          &--icon{
            color: white;
            font-size: 60px;
          }
        }
      }
      &--bgBook {
        position: absolute;
        left: 330px;
        top: -40px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 83%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: -20px;
          width: 80px;
          bottom: 300px;

        }

        &__greatTeam {
          &--pTitle {
            width: 100px;
            font-weight: 400;
            font-size: 30px;
            line-height: 10px;
            color: #FFFFFF;
          }
          h1 {
            font-weight: 600;
            font-size: 39px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            width: 400px;
          }
        }
        &__insayt {
          margin-top: 50px;
          h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            border-bottom: 1px solid white;
            color: #FFFFFF;
          }

          p {
            margin: 10px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

      }

      &--btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #595FEB;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px 22px;
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 376px) {
  #heroTeam {
    .hero {
    }
  }
}
@media (max-width: 320px) {
  #heroTeam {
    padding: 150px 0 120px 0;
    .hero {
      &--bgBook {
        position: absolute;
        left: 270px;
        top: -40px;
        filter: blur(2px);
        transform: rotate(28deg);
        width: 47px;
      }

      &--titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 83%;

        &__book1 {
          position: absolute;
          filter: blur(2px);
          transform: rotate(-40deg);
          left: -20px;
          width: 80px;
          bottom: 300px;

        }

        &__greatTeam {
          &--pTitle {
            width: 100px;
            font-weight: 400;
            font-size: 30px;
            line-height: 10px;
            color: #FFFFFF;
          }
          h1 {
            font-weight: 600;
            font-size: 39px;
            line-height: 49px;
            color: #FFFFFF;
            margin: 18px 0;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            width: 300px;
          }
        }

      }

    }
  }
}

