.review {
  padding: 120px 0;
  width: 110%;
  margin-left: -152px;
  position: relative;

 
  &--title {
    margin: 20px 0 20px 100px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
  }

  .slick-slide {
    width: 930px !important;
  }

  .slick-track{
    width: 16000px !important;
  }

  .slick-slider {
    width: 113% !important;
  }

  .slick-next {
    right: 43px;
  }

  .slick-prev {
    left: 40px;
    z-index: 2;
  }

  .slick-next{
    z-index: 5;
  }

  .slick-arrow {
    width: 50px;
    height: auto;
  }

  &--cards {
    &__card1 {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #FFFFFF;
      backdrop-filter: blur(12px);
      border-radius: 10px;
      width: 850px;
      padding: 30px;

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 0 0 40px 0;
      }

      &--info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__line {
          border: 0.2px solid white;
          width: 350px;
        }

        h2 {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
        }
      }
    }
  }

}