.youWillLearn {
    padding: 100px 0;
    h1 {
        font-weight: 600;
        font-size: 36px;
        color: #FFFFFF;
    }

    td {
        padding:60px 0 40px 100px;

        li {
            font-weight: 400;
            font-size: 24px;
            color: #FFFFFF;
            padding: 4px 0;
        }
    }
}